WcfCalculator/WcfCalculatorClient/Service References/CalculatorServiceReference/Calculator1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="mpp.mksn.by/MySuperCalculator" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="mpp.mksn.by/MySuperCalculator" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="mpp.mksn.by/MySuperCalculator/Imports">
      <xsd:import schemaLocation="http://localhost:61575/Calculator.svc?xsd=xsd0" namespace="mpp.mksn.by/MySuperCalculator" />
      <xsd:import schemaLocation="http://localhost:61575/Calculator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MySuperCalculator_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Add_MathFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:MathFault" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Substract_InputMessage">
    <wsdl:part name="parameters" element="tns:Substract" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Substract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractResponse" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Substract_MathFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:MathFault" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Multiply_MathFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:MathFault" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Divide_MathFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:MathFault" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Sqrt_InputMessage">
    <wsdl:part name="parameters" element="tns:Sqrt" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Sqrt_OutputMessage">
    <wsdl:part name="parameters" element="tns:SqrtResponse" />
  </wsdl:message>
  <wsdl:message name="MySuperCalculator_Sqrt_MathFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:MathFault" />
  </wsdl:message>
  <wsdl:portType name="MySuperCalculator">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/Add" message="tns:MySuperCalculator_Add_InputMessage" />
      <wsdl:output wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/AddResponse" message="tns:MySuperCalculator_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/AddMathFaultFault" name="MathFaultFault" message="tns:MySuperCalculator_Add_MathFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <wsdl:input wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/Substract" message="tns:MySuperCalculator_Substract_InputMessage" />
      <wsdl:output wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/SubstractResponse" message="tns:MySuperCalculator_Substract_OutputMessage" />
      <wsdl:fault wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/SubstractMathFaultFault" name="MathFaultFault" message="tns:MySuperCalculator_Substract_MathFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/Multiply" message="tns:MySuperCalculator_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/MultiplyResponse" message="tns:MySuperCalculator_Multiply_OutputMessage" />
      <wsdl:fault wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/MultiplyMathFaultFault" name="MathFaultFault" message="tns:MySuperCalculator_Multiply_MathFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/Divide" message="tns:MySuperCalculator_Divide_InputMessage" />
      <wsdl:output wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/DivideResponse" message="tns:MySuperCalculator_Divide_OutputMessage" />
      <wsdl:fault wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/DivideMathFaultFault" name="MathFaultFault" message="tns:MySuperCalculator_Divide_MathFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sqrt">
      <wsdl:input wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/Sqrt" message="tns:MySuperCalculator_Sqrt_InputMessage" />
      <wsdl:output wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/SqrtResponse" message="tns:MySuperCalculator_Sqrt_OutputMessage" />
      <wsdl:fault wsaw:Action="mpp.mksn.by/MySuperCalculator/MySuperCalculator/SqrtMathFaultFault" name="MathFaultFault" message="tns:MySuperCalculator_Sqrt_MathFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>